h1 {
    color: aqua;
    font-size: 100px;
    text-align: center;
}

body {
    color: green;
    text-align: center;
}

body {
    background-image: url(../KennyCode/images\ \(1\).jpeg);
    background-size: cover;
}